header {
    background-color:white;
    width: 100%;
    .container {
        background-color: transparent;
        padding: 20px 0;
    }
    .container h1 {
        font-size: 20px;
        color: black;
    }
    .container .menuBox  {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            list-style-type: none;
        }
        ul a {
            text-decoration: none;
            color:$main-write-color;
            transform: uppercase;
            letter-spacing: 2.6px;
            &:hover {
                color: $second-color;
                cursor: pointer;
            }
        }
    }
    .container .hamburgerBox {
        display: none;
    }
}

main {
    #firstsectionBox {
        min-height: 90vh;
        background-image: url("../../../assets/IMAGE/bg_3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        .firstBox {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .firstBox h1 {
            color: $second-color;
            align-self: center;
            font-size: 75px;
            font-weight: 700;
        }
        .firstBox span {
            font-size: 20px;
            font-weight: 300;
            align-self: center;
            color: $main-color;
        }
        .firstBox button {
            width: 30%;
            padding: 15px 25px;
            align-self: center;
            font-size: 16px;
            background-color: transparent;
            color: $second-color;
            border: 1px solid $second-color;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            &:hover {
                background-color: $second-color;
                border: 1px solid $second-color;
                color: black;
            }
        }
    }
    #twosectionBox {
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .twoBox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .twoBox .leftLogoBox {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .twoBox .leftLogoBox h3 {
            letter-spacing: 8px;
            font-size: 1em;
            font-weight: 300;
            color: #d4d4dd;
            transform: uppercase;
        }
        .twoBox .leftLogoBox h1 {
            color: black;
            font-size: 56px;
            font-weight: 300;
        }
        .twoBox .leftLogoBox span {
            font-size: 16px;
            font-weight: 400;
            color: #b8b8b8;
        }
        .twoBox .leftLogoBox button {
            width: 50%;
            padding: 15px 20px;
            color: #8888;
            background-color: transparent;
            border: 2px solid #8888;
            &:hover {
                background-color: yellow;
                color: white;
            }
        }
        .twoBox .rightLogoBox {
            background-image: url("../../../assets/IMAGE/about_img_1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 45%;
        }
    }
}